{% extends 'base.html' %}

{% block title %}Landing page{% endblock %}

{% block content %}
    <h1>Landing page</h1>
    <p>
        With the advent of streaming services like Netflix, Hulu, Amazon Prime, and Apple TV+ we’re currently
        experiencing a kind of Golden Age for book-to-screen adaptations. Television and film have long looked to the
        book world for source material, but in recent years the sheer number of adaptations is astounding.

        For us book nerds, it’s a win-win situation. Either we’ve already read the book, which means we get to assess
        the adaptation (and act slightly superior). Or we get hooked on the series and can double back to the original
        book. Everybody wins.

        We’ve collected below 45 books that have been adapted to feature films or television series this year. Some are
        feature films, some are new streaming series, some are new seasons of existing series. Most have already
        debuted, but a few are slated for release in November and December.
    </p>
{% endblock %}
    